ion-content{
  background: rgb(197, 197, 248)
}

h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #8a2be2;
  text-align:center;
}

p{
  font-family: Verdana 'Courier New', Courier, monospace;
  color: black;
  text-align: justify;
}