ion-content{
  background: rgb(220, 220, 241)
}

h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #4542d1;
  text-align:center;
}

p{
  font-family: Verdana 'Courier New', Courier, monospace;
  color: rgb(78, 75, 75);
  text-align: justify;
}